
/*This is where the content pane is*/
#title {
  color: green;
  font-family: 'Monoton', cursive;
  width: 70%;
}

#img {
  width: 8%;
}

#inboxCounter {
  border: 1px solid black;
  position: relative;
  width: 11%;
  height: 10%;
  color: blue;
  background-color: cyan;
}

#main {
  border: 1px solid red;
  position: relative;
  width: 100%;
}

.emailBox {
  border: 1px solid black;
  position: relative;
  width: 100%;
  height: 40%;
}

.dateBox {
  position: relative;
  height: 25%;
}

.senderBox {
  position: relative;
  height: 25%;
}

.subjectBox {
  position: relative;
  height: 25%;
}

.bodyBox {
  position: relative;
  color: red;
  height: 25%;
;}

.realBodyBox {
  
}

